body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: aliceblue;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0, 30%);
  text-shadow: 2px 2px 2px black;
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button{
  background-color: hsl(120, 100%, 25%);
}

.start-button:hover{
  background-color: hsl(120, 100%, 15%);
}

.stop-button{
  background-color: hsl(12, 100%, 61%);
}

.stop-button:hover{
  background-color: hsl(12, 100%, 41%);
}

.reset-button{
  background-color: hsl(221, 84%, 54%);
}

.reset-button:hover{
  background-color: hsl(221, 84%, 44%);
}