.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(85, 0, 0);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
  background-color: aliceblue;
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: black;
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: rgb(99, 99, 99);
  cursor: pointer;
}